<table class="level-table">
  <%= render partial: "teacher/levels/header" %>

  <tbody class="unspecified-tbody">
    <tr class="unspecified-row">
      <td>
        <input type="numeric" step="1" min="1" value="0" disabled="disabled" />
      </td>
      <td>
        <input type="text" value="unspecified" disabled="disabled" />
      </td>
      <td>
        <select disabled="disabled"><option>1</option></select>
      </td>
      <td>
        <select disabled="disabled"><option>12</option></select>
      </td>
      <td>
        <input type="checkbox" disabled="disabled" />
      </td>
      <td>
        <input type="checkbox" disabled="disabled" checked />
      </td>
      <td>
        <input type="submit" value="Delete" disabled="disabled" />
      </td>
    </tr>
  </tbody>

  <tbody class="level-tbody alternating">
    <% if !levels.blank? %>
      <% for level in levels %>
        <%= render partial: "teacher/levels/row", locals: {level: level} %>
      <% end %>
    <% else %>
      No levels currently exist.
    <% end %>
  </tbody>

  <tbody class="controls">
    <tr>
      <td>
        <%= form_tag(teacher_update_levels_path, method: :post, id: "level-form") do %>
          <input type="hidden" id="level-data" name="levels" />
          <input type="submit" value="Save Changes" class="submit" />
        <% end %>
      </td>
      <td>
        <input type="submit" value="New" class="create" />
      </td>
      <td colspan="1000">
        Note: If a level is inactive, it will not be displayed on any registration form. If it is restricted, only teachers will be able to register students for that level. Once registered, parents will be able to update their registration unless they change their student's level.
      </td>
    </tr>
  </tbody>
</table>
