<h1>Editing Student</h1>

<%= render 'shared/students/form', role: :teacher, student: @student %>

<%= link_to 'Show', teacher_student_path(@student) %> |
<%= link_to 'Back', teacher_students_path %>
