<% if @students.empty? %>
  No students matched your search. Please check your query and try again.
<% else %>
  <table>
    <thead>
      <tr><%= @students.count %> results:</tr>
      <%= render partial: 'teacher/students/header' %>
    </thead>
    <tbody class="alternating">
      <% @students.each do |student| %>
        <%= render partial: 'teacher/students/row', locals: { student: student } %>
      <% end %>
    </tbody>
  </table>
<% end %>
