<% if @students.empty? %>
  No students matched your search. Please check your query and try again.
<% else %>
  <table>
    <thead>
      <tr><th colspan="10000"><%= @students.count %> result(s)</th></tr>
      <%= render partial: "teacher/students/table/header" %>
    </thead>
    <tbody class="alternating">
      <% @students.each do |student| %>
        <%= render partial: "teacher/students/table/row", locals: { student: student } %>
      <% end %>
    </tbody>
  </table>
<% end %>
