<tr class="attendance-row">
  <td>
    <%= label_tag student.name %>
    <%= hidden_field_tag "", student.id, class: "student-id no-submit" %>
  </td>
  <td>
    <%= collection_select "", "", AttendanceHelper.expected, :id, :name, {}, { class: "status-select no-submit" } %>
  </td>
</tr>
