<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= render partial: 'events/event_list', locals: { event_groups: @event_groups } %>

<br>

<%= link_to 'New Teacher Event', new_teacher_event_path %>
