<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @teacher_event.when %>
</p>

<%= link_to 'Edit', edit_teacher_event_path(@teacher_event) %> |
<%= link_to 'Back', teacher_events_path %>
