<div class="semester-state">
  <%= semester.state_description %>

  <% semester.state_events.each do |event| %>
    <div class="semester-transition card" data-event="<%= event %>">
      <%= render partial: "teacher/semesters/transitions/#{event}", locals: { semester: @semester } %>
    </div>
  <% end %>
</div>