<div class="field">
  I have completed and submitted the <%= link_to "student waiver", "https://waiver.fr/p-LOmAc", target: :blank %>.
  <%= f.check_box :waiver, disabled: f.object.waiver %>
</div>

<!-- TODO: thumbnail upload -->
