<div class="field">
  I have completed and submitted the <%= link_to "student waiver", "https://waiver.fr/p-WZBGd", target: :blank %>.
  <%= f.check_box :waiver_submitted, disabled: f.object.waiver_submitted %>
</div>

<!-- TODO: thumbnail upload -->
