<div class="field">
  I agree to the terms of the Emory Math Circle <%= link_to "student waiver" %>.
  <%= f.check_box :waiver %>
</div>

<div class="field">
  I give permission for my student to be photographed by the Emory Math Circle for promotional materials.
  <%= f.check_box :photo_permission %>
</div>

<!-- TODO: thumbnail upload -->
