<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>semester</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% sections.each do |section| %>
      <%= render partial: 'sections/section_collapse', locals: { section: section } %>
    <% end %>
  </tbody>

</table>

<br/><br/>
