<% if @ballot.persisted? %>
  <h1>Editing Pre-registration Ballot</h1>
<% else %>
  <h1>New Pre-registration Ballot</h1>
<% end %>

<%= render 'form', ballot: @ballot %>

<%= link_to 'Back', parent_students_path %>
