<h1>Manage Registration for <%= @registree.student.name %></h1>

<%= render 'shared/registrees/form', registree: @registree, role: :parent %>

<%= link_to 'Back', parent_students_path %> |
<%= link_to 'Unregister', parent_student_registree_path(@registree.student), method: :delete, data: { confirm: 'Are you sure?' } %>
