<% f.fields_for(method) do |ci| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control bfh-phone", data_format: "+1 (ddd) ddd-dddd" %>
  </div>
<% end %>

