<h1>Editing Special Event</h1>

<%= render 'form', special_event: @special_event %>

<%= link_to 'Show', teacher_special_event_path(@special_event) %> |
<%= link_to 'Back', teacher_special_events_path %>
