body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td, th {
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

// verticals border
table { border-collapse: collapse; }
tr { border: none; }
td, th {
  border-right: solid 1px; 
  border-left: solid 1px;
}
th {
  border-bottom: solid 1px;
  border-top: solid 1px;
}
tbody { border-bottom: solid 1px}
tr.bordered-row {
  border: solid 1px;
}
tr.heavy-bordered-row {
  border: solid 3px;
}

tbody.alternating {
  tr:nth-child(odd) { background: #CCC }
  tr:nth-child(even)  { background: #FFF }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.row_with_errors {
  padding: 2px;
}

.row_with_errors td {
  background-color: red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/* speed up collapse transition */
.collapsing {
  -webkit-transition:height .01s ease;
    transition:height .01s ease
}

tr.catalog-course-row {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

.pagination a {
  margin-left: 10px;
  margin-right: 10px;
}
