<% if @profiles.empty? %>
  No students matched your search. Please check your query and try again.
<% else %>
  <table>
    <thead>
      <tr><%= @profiles.count %> results:</tr>
      <tr><%= render partial: 'teacher/parents/header' %></tr>
    </thead>
    <tbody class="alternating">
      <% @profiles.each do |profile| %>
        <%= render partial: 'teacher/parents/row', locals: { profile: profile } %>
      <% end %>
    </tbody>
  </table>
<% end %>
