<% if @profiles.empty? %>
  No students matched your search. Please check your query and try again.
<% else %>
  <table>
    <thead>
      <tr><th colspan="10000"><%= @profiles.count %> result(s)</th></tr>
      <%= render partial: "teacher/parents/table/header" %>
    </thead>
    <tbody class="alternating">
      <% @profiles.each do |profile| %>
        <%= render partial: "teacher/parents/table/row", locals: { profile: profile } %>
      <% end %>
    </tbody>
  </table>
<% end %>
