<%= form_for [:teacher, rollcall] do |f| %>
  <% if rollcall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rollcall.errors.count, "error") %> prohibited this rollcall from being saved:</h2>

      <ul>
      <% rollcall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
