<%= form_for [:teacher, rollcall], id: 'attendance_form' do |f| %>
  <% if rollcall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rollcall.errors.count, "error") %> prohibited this rollcall from being saved:</h2>

      <ul>
      <% rollcall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% f.hidden :attendance, '', class: "attendance-input" %>

  <table class="rollcall-table">
    <thead>
      <tr>
        <td>Student</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody class="enrollees">
      <% rollcall.enrollees.each do |student| %>
        <% render partial: 'rollcalls/enrolled_row', locals: { student: student } %>
      <% end %>
    </tbody>
    <!--<tbody class="extras">
      <% if rollcall.extras.any? %>
        <% rollcall.extras.each do |student_id| %>
          <% #render partial: 'rollcalls/extra_row', locals: { student: student } %>
        <% end %>
      <% else %>
        <% #render partial: 'rollcalls/extra_row',   locals: { student: nil } %>
      <% end %>
    </tbody>-->
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
