<h1>Editing lottery registration</h1>

<%= render 'form', ballot: @ballot, role: :teacher, mode: :edit %>

<%= link_to 'Back', teacher_students_path %> |
<%= link_to 'Delete registration', teacher_student_ballot_path, method: :delete, data: { confirm: 'Are you sure?' } %>
